# Terraform files
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars
*.tfvars
!terraform.tfvars.example

# SSH keys
*.pem
*.key
id_rsa
id_rsa.pub

# OpenVPN client configs
*.ovpn
client-configs/

# OS specific files
.DS_Store
Thumbs.db

# Logs
*.log 